<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="e-triage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : patient?.forename }}'s Triage Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  <div *ngIf="isLoading">
    <ion-spinner color="light"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-img class="patient-image" [src]="patient.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

  <ion-card>
    <ion-card-content>
      <h1>{{ patient?.forename }} {{ patient?.surname }}</h1>
      <br>
      <ion-card-title>
      </ion-card-title>
      <ion-label>
        <h2>Hospital Destination:</h2>
        <p>{{ patient.hospital }} Hospital</p>
        <br>
        <h2>EIRCODE:</h2>
        <p>{{ patient.address }}</p>
        <br>
        <h2>D.O.B:</h2>
        <p>{{ patient.dateOfBirth }}</p>
        <br>
        <h2>RFID No:</h2>
        <h2> {{ patient?.rfidNumber }}</h2>
        <br>
        <h2>Medical History:</h2>
        <p>{{ patient?.medicalHistory }}</p>
        <br>
        <h2>Drug History:</h2>
        <p>{{ patient?.drugHistory }}</p>
        <br>
        <h2>Surgery History:</h2>
        <p>{{ patient?.surgeryHistory }}</p>
        <br>
        <h2>Allergies:</h2>
        <p>{{ patient?.allergies }}</p>
        <br>
        <h2>Emergency Contacts:</h2>
        <h2>Emergency Contact 1: {{ patient?.emergencyContact1 }}</h2>
        <h2>Emergency Contact 2: {{ patient?.emergencyContact2 }}</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <h2>{{patient.forename}} was found/or is being transported from</h2>
        <p>{{ patient?.locationFound.address }}</p>
        <ion-img class="location-image" [src]="patient.locationFound.staticMapImageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <div class="ion-text-center">
      <ion-button
        class="ion-margin"
        color="success"
        (click)="onComplete(patient.id)"
        >e-Triage Complete
      </ion-button>
    </div>
  </ion-grid>
</ion-content>

