<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
          <ion-menu-toggle>
          <ion-item lines="none" routerLink="/search">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>Scan Patient RFID</ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/e-triage">
              <ion-icon name="medical" slot="start"></ion-icon>
              <ion-label>e-Triage List</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
          <ion-item lines="none" routerLink="/create">
            <ion-icon name="person-add" slot="start"></ion-icon>
            <ion-label>Add New Patient</ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
          <ion-item lines="none" routerLink="/list">
            <ion-icon name="list" slot="start"></ion-icon>
            <ion-label>Full Patients List</ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
          </ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
