<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : patient?.forename }}'s Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  <div *ngIf="isLoading">
    <ion-spinner color="light"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-img class="patient-image" [src]="patient.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-card-title>
        </ion-card-title>
        <ion-label>
          <h2>Name:</h2>
          <h2>{{ patient?.forename }} {{ patient?.surname }}</h2>
          <br>
          <h2>RFID No:</h2>
          <h2>{{ patient?.rfidNumber }}</h2>
          <br>
          <h2>D.O.B:</h2>
          <h2>{{ patient?.dateOfBirth }}</h2>
          <br>
          <h2>EIRCODE:</h2>
          <p>{{ patient.address }}</p>
          <br>
          <h2>Medical History:</h2>
          <p>{{ patient?.medicalHistory }}</p>
          <br>
          <h2>Drug History:</h2>
          <p>{{ patient?.drugHistory }}</p>
          <br>
          <h2>Surgery History:</h2>
          <p>{{ patient?.surgeryHistory }}</p>
          <br>
          <h2>Allergies:</h2>
          <p>{{ patient?.allergies }}</p>
          <br>
          <h2>Emergency Contact 1:</h2>
          <h2>{{ patient.emergencyContact1 }}</h2>
          <h2>Emergency Contact 2:</h2>
          <h2>{{ patient.emergencyContact2 }}</h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
      <ion-button
        class="ion-margin"
        color="light"
        [routerLink]="['/', 'edit', patient.id]">Edit Data
      </ion-button>

      <ion-button
        class="ion-margin"
        color="danger"
        [routerLink]="['/', 'patient', patient.id]">Send Data
      </ion-button>
    </div>

  </ion-grid>
</ion-content>

