<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ patient.name }}'s Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-avatar>
      <ion-img [src]="patient.imageUrl"></ion-img>
    </ion-avatar>
    <ion-card-content>
      <ion-card-title >
        {{ patient.name }}
      </ion-card-title>
      <ion-label>
        <h2>PPS No: {{ patient.pps }}</h2>
        <h2>ID No: {{ patient.id }}</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>


  <ion-button
  class="ion-margin"
  color="light"
  [routerLink]="['/', 'edit', patient.id]"
  >Edit
  </ion-button>

</ion-content>
